*{
    margin:0;
    padding: 0;
}

body{
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 15rem;
    font-style: normal;
    background-color: hsl(240,78%,98%);
}

.top{
    position:absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.bottom{ 
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.main-heading{
    color:hsl(233, 13%, 49%);
}

.header{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.header-2{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
}

.container div{
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* height: 45vh; */
    height: auto;
}
.container hr{
    width: 100%;
    height: 1px;
    border-width: 0;
    margin: 10px auto; 
    
}
.card2 hr{
    background-color: white;
}
.card1 hr,.card3 hr{
    /* background-color: black; */
    background-color: hsl(234, 14%, 74%);
}
.card2{
    background: linear-gradient(to bottom,hsl(236,72%,79%),hsl(237,63%,64%));
    color: #fff;
    padding: 4rem 2rem 4rem 2rem;
    border-radius: 0.7rem;
}

.card1 ,.card3{
    background-color: white;
    align-self: center;
    padding: 2rem;
    
}
.card1{
    border-radius: 0.7rem 0  0 0.7rem;
}
.card3{
    border-radius: 0 0.7rem  0.7rem 0;
}
button{
    height: 3rem;
    border: none;
    border-radius: 0.3rem;
}
.btn-13{
    background:linear-gradient(to bottom,hsl(236,72%,79%),hsl(237,63%,64%));
    
    color: white;
}

.btn-2{
    color: hsl(237,63%,64%);
    background: #fff;
}

.btn-13:hover{
    cursor: pointer;
    background: white;
    color: hsl(237,63%,64%);
    border: 2px solid hsl(237,63%,64%);
}
.btn-2:hover{
    cursor: pointer;
    background: transparent ;
    color: white;
    border: 2px solid white;
}

ul{
    list-style-type: none;
    color: #fff;
}
.ul-13{
    color: hsl(233, 13%, 49%);
}

li{
    font-weight: bold;
    padding: 0.3rem;
    
}

.money{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Toggle Button  */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0.5rem 1rem 0.5rem 1rem;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(237,63%,64%);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: hsl(237,63%,64%);
}

input:focus + .slider {
    box-shadow: 0 0 1px hsl(237,63%,64%);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dollar{
    font-size: 2rem;
    color: hsl(232, 13%, 33%);
}
.cost{
    font-size: 3.7rem;
    color: hsl(232, 13%, 33%);
}
#dol-2, #toggle-switch-2{
    color: #fff;
}

@media screen and (max-width:600px){
    .bottom{
        display: none;
    }
    .header {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .header-2 {
        margin-top: 20px;
    }

    .dollar {
        font-size: 1.8rem;
    }

    .cost {
        font-size: 3rem;
    }

    .container {
        flex-direction: column; 
        align-items: center;
    }

    .container div {
        width: 70%; 
        margin: 10px auto; 
        height: auto; 
    }
    .card2{
        padding:2rem;
    }

    .slider {
        margin: 0 auto; 
    }
    
} 


@media screen and (min-width: 601px) and (max-width: 1100px){
    .dollar {
        font-size: 1.4rem;
    }

    .cost {
        font-size: 2em;
    }
    .container div {
        height: auto; 
    }
}

